
 <button class="dropbtn"> <a href="/"> Home </a> </button>
  <button class="dropbtn"> <a href="/about"> About Us </a> </button>
   <button class="dropbtn"> <a href="/contact"> Contact Us </a> </button>
   <div class="dropdown">
  <button class="dropbtn">  Product </button>

  <div class="dropdown-content">
  	<a href="/product"> List </a>
    <a href="/product/create">Create</a>
    <a href="/product/details">Details</a>
    
  </div>
</div>